@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #E75500, #C54800);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5f2300ce;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    color: #5F2300;
    text-align: center;
    text-shadow: 1px 1px 2px #2c1000bb;
}

h2 {
    color: #A33C00;
}
